<aside class="sidebar shadow-sm">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/image/user.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">User</p>
      <small class="text-uppercase role">Administrator</small>
    </div>
  </div>
  <nav class="sidebar-menu pt-3 pb-3 mx-3">
    <div class="menu-header mt-3 mb-2">
      Feature
    </div>
    <ul class="menu-items list-unstyled">
      <li >
        <a routerLink="/log/logs" routerLinkActive="active">
          <span>Logs</span>
        </a>
      </li>
      <li>
        <a routerLink="/log/logs-visualization" routerLinkActive="active">
          <span>Log Visualization</span>
        </a>
      </li>
    </ul>
    <div class="menu-header mt-4 mb-4">
      Other
    </div>
    <ul class="menu-items list-unstyled ">
      <li >
        <a routerLink="/profile/detail" routerLinkActive="active" >
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
