/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; padding: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 0;}

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import './assets/lightning-admin';
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */
